@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto Condensed", sans-serif;
}
button {
  border: none;
  outline: none;
}

body {
  background-color: #f5f2fe;
}

nav {
  /* background-color: red !important; */
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 4rem;
}

.nav_btn1 {
  padding: 2px;
  color: #7647eb;
  font-size: 1.1rem;
  font-weight: 500;
  outline: none;
  border: none;
  background-color: transparent;
  margin-right: 1rem;
}
.nav_btn2 {
  width: 8rem;
  margin-left: 0.5rem;
  padding: 6px;
  color: #7647ebce;
  font-size: 1.1rem;
  font-weight: 500;
  outline: none;
  border: none;
  background: #e2d8fb;
  border-radius: 3px;
}

.first {
  height: 90vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.second {
  height: 90vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.first div {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.h1 {
  text-align: center;
  font-size: 2rem;
}
.firstP {
  color: #948da5;
  margin-top: 1.7rem;
}
.firstBtn {
  margin-top: 1.7rem;
  margin-left: 0.5rem;
  width: 17rem;
  padding: 10px;
  background: #7647eb;
  font-size: 1.1rem;
  font-weight: 500;
  outline: none;
  border: none;
  color: #fff;
  border-radius: 8px;
}

.backdrop {
  background-color: rgba(0, 0, 0, 0.507);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.card {
  background-color: white;
  border-radius: 8px;
  width: 600px;
  max-width: 90vw;
}

.card.container {
  background-color: transparent;
  border: 1px solid #b3b8bcbb;
  width: 630px;
  max-width: 90vw;
  min-height: 480px;
}
.login_card {
  padding: 2rem !important;
}

.card .header {
  display: flex;
  justify-content: space-between;
  padding: 0px 4.1rem;
}
.header h4 {
  font-size: 1.4rem;
}

a {
  color: #7647eb;
  text-decoration: none;
}
.input_form {
  margin: 8px 0px;
}
.input_form.select {
  display: flex;
  /* flex-wrap: wrap; */
  align-items: center;
  margin: 2rem 4rem;
  font-size: 0.85rem;
}
.input_form.btn {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 80%;
}
.input_form.group {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 80%;
  flex-direction: row;
}
.InputGroup {
  width: 60%;
  background-color: transparent;
  padding: 0.6rem;
}
label {
  display: block;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 500;
}

form {
  margin-top: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

input {
  max-width: 100%;
  width: 28rem;
  padding: 0.5rem;
  outline: none;
  border: 1px solid #b3b8bcbb;
  border-radius: 4px;
}
.select > input {
  width: fit-content;
  margin: 0px 6px;
}

.save_btn {
  padding: 8px;
  background: #7647eb;
  font-size: 1.1rem;
  font-weight: 500;
  outline: none;
  border: none;
  color: #fff;
  border-radius: 8px;
  width: 6rem;
}
.save_btn.group {
  margin-left: 2rem;
  padding: 8px;
  background: #7647eb;
  font-size: 1.1rem;
  font-weight: 500;
  outline: none;
  border: none;
  color: #fff;
  border-radius: 8px;
  width: 6rem;
}
.cancel_btn {
  padding: 8px;
  background: #e4e4e4;
  font-size: 1.1rem;
  font-weight: 500;
  outline: none;
  border: none;
  color: #000;
  border-radius: 8px;
  width: 6rem;
  margin-left: 1.5rem;
}

.modal {
  display: none;
}
.input_form h1 {
  text-align: start;
  margin-left: 1rem;
}

nav.group {
  justify-content: flex-end;
}
nav .btn {
  display: flex;
}
nav .btn .save_btn {
  font-size: 0.9rem;
  padding: 5px;
}
.groupIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5rem;
}

.groupImg {
  background-color: #e4e4e4;
  border-radius: 100%;
  padding: 4px;
  border: 1px solid #b3b8bcbb;
  margin-left: 1rem;
}

.profileBox {
  padding: 1.7rem;
  width: 550px !important;
}

.input_form.img {
  justify-content: flex-start;
  display: flex;
}

.profileImg {
  background-color: #e4e4e4;
  border-radius: 3px;
  padding: 4px;
  margin-left: 1rem;
  margin-top: 1.7rem;
}

.profileGroup {
  text-align: start;
  align-items: flex-start;
  padding: 1rem;
}
